# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*

# Backend
backend/target/
backend/data/
backend/.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
